@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply bg-background text-foreground;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* 隐藏所有滚动条 */
::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
